.selectWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;

  &.fullWidth {
    width: 100%;
  }
}

.selectContainer {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.select {
  appearance: none;
  width: 100%;
  padding-right: 32px;
}

.icon {
  position: absolute;
  right: 8px;
  pointer-events: none;
  color: rgba(0, 0, 0, 0.54);
}
