// Avatar atom - circular image/icon container

.avatar {
  border-radius: 50%;
  background: var(--color-bg-elevated);
  color: var(--color-text-secondary);
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar--sm {
  width: 32px;
  height: 32px;
}

.avatar--md {
  width: 48px;
  height: 48px;
}

.avatar--lg {
  width: 64px;
  height: 64px;
}
