// Text highlight atom

.highlight {
  background: var(--color-warning);
  color: black;
  padding: 0 3px;
  border-radius: 2px;
}

.highlight--success {
  background: var(--color-success);
  color: white;
}

.highlight--error {
  background: var(--color-error);
  color: white;
}
