.root {
  display: flex;
  min-height: 100vh;
}

.hamburger {
  margin-right: 8px;

  @media (min-width: 900px) {
    display: none !important;
  }
}

.barIcon {
  margin-right: 16px;
}

.title {
  flex-grow: 1;
}

.drawer {
  width: 240px;
  flex-shrink: 0;
}

.main {
  flex-grow: 1;
  min-width: 0;
  background-color: var(--mat-sys-surface);
  padding: 16px 12px;

  @media (min-width: 600px) {
    padding: 16px;
  }

  @media (min-width: 900px) {
    padding: 16px 24px;
  }
}
