.contentHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 16px;
}

.tableTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
}

.alert {
  margin-bottom: 16px;
}

.empty {
  padding: 16px;
}

.emptyState {
  padding: 32px 0;
}
