.paper {
  margin-top: 0;

  .inner {
    padding: 12px;

    .tableRow {
      border-radius: 4px;
      padding: 4px 8px;
    }

    .tableIcon {
      :global(.material-symbols-outlined),
      :global(.material-symbols-rounded),
      :global(.material-symbols-sharp) {
        font-size: 20px;
      }
    }
  }
}

.search {
  margin-bottom: 8px;

  :global(.material-symbols-outlined),
  :global(.material-symbols-rounded),
  :global(.material-symbols-sharp) {
    font-size: 20px;
  }
}

.tableHint {
  padding: 8px 4px;
}

.itemText :global(.MuiListItemText-primary) {
  font-size: 0.8125rem;
}
