.paper {
  margin-top: 12px;
}

.inner {
  padding: 12px;
}

.search {
  margin-bottom: 8px;
}

.tableRow {
  border-radius: 4px !important;
  padding: 4px 8px !important;
}

.tableHint {
  padding: 8px 4px;
}

.tableIcon {
  min-width: 40px;
}

.itemText :global(.MuiListItemText-primary) {
  font-size: 0.8125rem;
}
