.error {
  width: 100%;
  margin-bottom: 16px;
}

.form {
  width: 100%;
}

.submitBtn {
  margin-top: 24px;
  margin-bottom: 16px;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.turboBtn {
  margin-bottom: 16px;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}
