.button {
  // Base button styling handled by fakemui
  // Add custom overrides here
}

.link {
  text-decoration: underline;

  &:hover {
    text-decoration: underline;
  }
}

.icon {
  min-width: 40px;
  width: 40px;
  height: 40px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
