.slider {
  // Slider thumb styling
  :global(.fakemui-slider-thumb),
  &::-webkit-slider-thumb {
    width: 16px;
    height: 16px;
  }

  // Track styling
  :global(.fakemui-slider-track) {
    height: 4px;
  }

  // Rail styling  
  :global(.fakemui-slider-rail) {
    height: 4px;
  }
}
