.separator {
  border: none;
  background-color: var(--divider, #e0e0e0);
}

.horizontal {
  width: 100%;
  height: 1px;
  margin: 16px 0;
}

.vertical {
  width: 1px;
  height: 100%;
  margin: 0 16px;
}

// Dark mode support
[data-theme='dark'] {
  .separator {
    background-color: var(--divider-dark, #424242);
  }
}
