// Drawer.module.scss
// Styles for Sheet/Drawer components

.trigger {
  cursor: pointer;
  display: inline-flex;
}

.close {
  cursor: pointer;
  display: inline-flex;
}

.content {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-lg, 1.5rem);
  background-color: var(--surface-background, #fff);
  position: relative;

  &.horizontal {
    width: 320px;
    height: 100%;
  }

  &.vertical {
    width: 100%;
    height: auto;
    max-height: 80vh;
  }
}

.closeButton {
  position: absolute;
  top: 8px;
  right: 8px;
}
