@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.navigationMenu {
  display: flex;
  gap: 0.25rem;
  
  &.horizontal {
    flex-direction: row;
    align-items: center;
  }
  
  &.vertical {
    flex-direction: column;
    align-items: stretch;
  }
}

.navigationMenuList {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigationMenuItem {
  position: relative;
}
