@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.sidebarSeparator {
  margin: 0.5rem 0;
}

.sidebarTrigger {
  // Uses IconButton styles
}

.sidebarRail {
  position: absolute;
  right: -4px;
  top: 0;
  bottom: 0;
  width: 8px;
  cursor: col-resize;
  
  &:hover {
    background-color: var(--primary-main, #1976d2);
    opacity: 0.2;
  }
}
